/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px); /* Adjust the width as needed */
    max-width: 400px; /* Set a max-width to limit the width of the chessboard */
    margin: 20px auto; /* Center the chessboard on the screen and add some margin */
    position: relative;
}

.square {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 50px; /* Adjust the max-width for each square */
}

.piece img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.white {
    background-color: #efffef;
}

.black {
    background-color: #008080;
    color: #fff;
}

.notation {
    position: absolute;
    top: 50%;
    left: -30px;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
}

.notation span {
    height: 50px;
    line-height: 50px;
}

.column-notation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 5px;
}

.column-notation span {
    width: 50px;
    text-align: center;
}

.piece {
    height: 100%;
    max-width: 85%;
    max-height: 85%;
}

.square.highlight {
    box-shadow: inset 0 0 10px 5px red; /* Inner glow effect */
}

/* Add extra top margin for input elements */
#highlight-controls {
    max-width: 400px;
    margin: 40px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#highlight-controls label,
#highlight-controls input,
#highlight-controls select {
    margin-top: 10px;
}

label {
    display: block;
    margin-top: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #008080;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #006666;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
